
<div *ngIf="bookings && bookings.length > 0" class="table-container">
  <table class="booking-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Days</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.username }}</td>
        <td>{{ booking.email }}</td>
        <td>{{ booking.fromDate |date:'MMM d, y' }}</td>
        <td>{{ booking.toDate |date:'MMM d, y' }}</td>
        <td>{{ booking.days }}</td>
        <td>{{ booking.price }}</td>
        <td [ngStyle]="{'color': booking.bookCarStatus === 'APPROVED' ? 'green' : (booking.bookCarStatus === 'REJECTED' ? 'blue' : 'black')}">
          <strong>{{ booking.bookCarStatus }}</strong>
        </td>
        <td>
            <span *ngIf="booking.bookCarStatus == 'PENDING'" class="action-buttons">
                <button class="action-btn approve-btn" (click)="changeBookingStatus(booking.id, 'APPROVED')">Approve</button>
                <button class="action-btn reject-btn" (click)="changeBookingStatus(booking.id, 'REJECTED')">Reject</button>
              </span>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="bookings && bookings.length === 0" class="no-bookings">
  <p>No bookings found.</p>
</div>